@font-face {
  font-family: 'press_start_2p';
  src: url('./assets/fonts/pressstart2p-vav7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* * {
  border: solid white 1px;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/spacebg.png')
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
